* {
    padding: 0;
    margin: 0;
}

.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: white;
   box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%); 
   height: 90px;
   z-index: 10;
}

.logo img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 60px;
}

.logo p {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    position: absolute;
    top: 35px;
    left: 126px;
}

.logo img, p:hover {
    cursor: pointer;
    color: blue;
    transition: 1s;
}

.main-menu ul {
    width: 30%;
    display: flex;
    margin-left: 1000px;
    margin-top: 35px;
}

.main-menu li {
    width: 25%;
    text-align: center;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}

.main-menu li:hover {
    cursor: pointer;
    color: blue;
    transition: 0.50s;
}

.main-section {
    margin-top: 100px;
}

.main-section__background {
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(/daac885…/c157c/assets/svg/common-bg.svg);
    height: 670px;
}

.main-section__text {
    position: absolute;
    top: 250px;
    left: 400px;
}

.main-section h1 {
    text-align: center;
    font-size: 50px;
}

.main-section p {
    text-align: center;
    margin-top: 40px;
    color: #333;
    font-size: 20px;
    width: 100%;
    line-height: 1.6;
}

.main-section__button {
    position: absolute;
    top: 470px;
    left: 600px;
    background: #7843e9;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
    transition: transform .3s;
    padding: 17px 70px;
    font-size: 20px;
    font-family:inherit;
}

.main-section__button:hover {
    cursor: pointer;
    margin-top: -4px;
}

.about-section {
    width: 100%;
    margin-top: 120px;
}

.about-section h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}

.line {
    content: '';
    position: relative;
    top: 20px;
    height: 5px;
    width: 2rem;
    background: #7843e9;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.about-section__p {
    display: block;
    text-align: center;
    color: #555;
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 80rem;
    margin: auto;
    line-height: 1.6;
    margin-top: 30px;
}

.about-me {
    margin-top: 100px;
}

.about-me h2 {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 3rem;
    position: relative;
    left: 150px;
}

.about-me p {
    font-size: 18px;
    color: #666;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 1rem;
    margin-top: -10px;
    margin-left: 150px;
}

.about-section__button {
    position: relative;
    top: 30px;
    left: 150px;
    background: #7843e9;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
    transition: transform .3s;
    padding: 14.16px 47.2px;
    font-size: 15px;
    font-family:inherit;
}

.about-section__button:hover {
    cursor: pointer;
    margin-top: -4px;
}

.project-section {
    margin-top: 300px;
}

.project-h1 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}

.line-project {
    content: '';
    position: relative;
    top: 20px;
    height: 5px;
    width: 2rem;
    background: #7843e9;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.project-p {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: #333;
}

.projects {
    margin-top: 100px;
}

.project-1__image {
    width: 40%;
    height: 30%;
    margin-left: 200px;
}